<div class="card-header">
  <h2 class="testimonial-text"> Our users do love us though</h2>
</div>
<div class="review-container">
  <div class="review-card">
    <img src="https://kitt.lewagon.com/placeholder/users/samemah24" />
      <div class="review-card-infos">
        <p>I wish all recipes were as easy to follow as Jam Maker's.</p>
      </div>
  </div>

<div class="review-card">
  <img src="https://kitt.lewagon.com/placeholder/users/EljoPleqi" />
    <div class="review-card-infos">
      <p>No more fumbling with your phone to skip songs or rewind the same one 3 times. Just play the app and let Jammaker do the</p>
    </div>
</div>

  <div class="review-card">
    <img src="https://kitt.lewagon.com/placeholder/users/FabioDG7" />
      <div class="review-card-infos">
        <p>I wish all recipes were as easy to follow as Jam Maker's.</p>
      </div>
  </div>
</div>
