<div class="card-header">
  <h1> Our users do love us though</h1>
</div>
<div class="card-container">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <p>I wish all recipes were as easy to follow as Jam Maker's.</p>
      </div>
  </div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <p>No more fumbling with your phone to skip songs or rewind the same one 3 times. Just play the app and let Jammaker do the</p>
    </div>
</div>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <p>I wish all recipes were as easy to follow as Jam Maker's.</p>
      </div>
  </div>
</div>
