// Specific CSS for your home-page
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&family=Space+Mono&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Lexend Deca", sans-serif;
}

* {
  font-family: "Lexend Deca", sans-serif;
}
.logo {
  width: 16rem;
  height: 7rem;
}
.hero {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1488116593952-937c38246bbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1610&q=80");
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-left: 3rem;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
  }
}
.usp {
  font-family: "Lexend Deca", sans-serif;
  color: #3d3829;
  font-weight: 700;
  font-size: 2rem;
}
.button {
  background-color: #1db854;
  width: 14rem;
  height: 3rem;
  padding: 0.7rem 1.5rem;
  color: white;
  margin-left: 3rem;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  border-radius: 9px;
  padding: 3px;
  align-items: center;
  padding-bottom: 2px;
}
.button:hover,
.dark-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.link-text {
  color: white;
  text-decoration: none;
}

.link-text:hover {
  color: #fff;
}
.icon {
  width: 35px;
  height: 35px;
  align-items: center;
}

#text {
  padding-top: 12px;
}

.usp-container {
  margin: 3rem;
  display: flex;
  align-items: center;
  gap: 7rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.img {
  width: 50%;
}

.dark-btn {
  margin-top: 1rem;
  background-color: #0f172a;
  width: 14rem;
  height: 3rem;
  padding: 0.7rem 1.5rem;
  color: white;
  //margin-left: 3rem;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  border-radius: 9px;
  padding: 3px;
  align-items: center;
  padding-bottom: 2px;
  padding-left: 2px;
}

.recipe-img {
  width: 46.875rem;
  height: 28.125rem;
  object-fit: cover;
  border-radius: 9px;
}

.lemons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1587324438673-56c78a866b15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80);
  height: 37.5rem;
  margin-top: 60px;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.lemon-txt {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: white;
}
.email-form {
  .email-input {
    padding: 1rem;
    width: 32rem;
    border-style: none;
  }

  .explainer-text {
    text-align: center;
    margin-top: 1em;
    color: white;
  }
}

#dark-btn {
  background-color: #0f172a;
  color: #fff;
  padding: 1rem;
  border-style: none;
}

.footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title-footer {
  font-weight: bolder;
  color: #fff;
}

.h3-footer {
  color: #fff;
}

.names {
  color: #fff;
}

.content2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15rem;
  padding-left: 100px;
}

.title-card {
  font-weight: bolder;
}
