body{
    background-color: #EFECE6;
}

.recipe-details{
  display: flex;
  gap: 1rem;
}
.screen{

  width: 100vw;
  height: 100vh;
  padding: 0rem 4rem;
  display: flex;
}
.instrunctions-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  gap: 1rem;
  border: 1px dashed #4A4230;
  border-radius: 5px;
  width: 47.5rem;
}

.recipe-instruction-card{
  width: 45rem;
  height: 9.375rem;
  background-color: #fff;
  display: flex;
  gap: 2rem;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
}

.font-48 {
  font-size: 48px;
}

.img-container {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  height: 100%;
  width: 11rem;
  max-width: 11rem;
  background-color: #6E6549;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instruction-content{
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid{
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  color: #4A4230;
}
