<div class="recipe-details">
  <h2> <%= @recipe.title %> </h2>
  <p> <%= @recipe.preptime %> </p>
</div>
<div class="screen">
  <div class="left">
    <div class="instrunctions-container">
      <% @instructions.each do |instruction|%>
        <div class="recipe-instruction-card">
          <div class="img-container">
            <i class="fa-solid fa-square-1"></i>
          </div>
          <div class="instruction-content">
            <%= instruction.content %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="center">center</div>
  <div class="right"> right</div>

</div>
